.form {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.main button,
.main input {
    margin-bottom: 20px;
}

.main input {
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
}