.popup {
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #cccccc;
    border: 1px solid #000000;
    padding: 20px;
    max-width: 300px;
}

.popup:after {
    position: absolute;
    content: '';
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 20px solid #cccccc;
    top: -20px;
    right: 20px;
}

.popup:before {
    position: absolute;
    content: '';
    border: 21px solid transparent;
    border-top: 0;
    border-bottom: 21px solid #000000;
    top: -21px;
    right: 19px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}
